/* buttons and icons and smaller reusable bits here */

@import "forms.css";

picture.logo {
  border-radius: 50%;
}

/* buttons and anchors */

div.actions {
  display: flex;
}

:is(a, button).button {
  font-family: var(--font-body);

  padding: 0.5em 1em;

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--paper);
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    var(--color) 0%,
    var(--color-darker) 51%,
    var(--color) 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

:is(a, button).button:is(:hover, :focus-visible) {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

:is(a, button).button:active {
  transform: scale(0.95);
}

:is(a, button).text {
  color: var(--ink);
  text-decoration: none;
  padding: 0.25em;
  position: relative;
}

:is(header, footer) :is(a, button).text {
  --ink: var(--gray-lighter);
}

p :is(a, button).text {
  padding: unset;
  display: inline-block;
}

:is(a, button).text::before {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 50%;
  bottom: 0;
  left: 25%;

  background-image: linear-gradient(
    45deg,
    var(--color) 0%,
    var(--color-lighter) 51%,
    var(--color) 100%
  );
  background-position: left center;

  transition: 0.2s;
}

:is(a, button).text:is(:hover, :focus-visible)::before {
  width: 100%;
  left: 0;
  background-position: right center;
}

/* scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: var(--line-width); /* Firefox */
}
/* This part is for the scrollbar track / */
*::-webkit-scrollbar {
  width: var(--line-width);
  height: var(--line-width);
}

/* / This part is for the track (the part that the thumb slides across) / */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

/* / This part is for the thumb (the part you drag) / */
::-webkit-scrollbar-thumb {
  background: var(--gradient-color);
  border-radius: var(--corners);
}

/* / This part is for the thumb when it's being hovered over  */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}
